*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bodybox{
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;

    padding: 20px;
    overflow: hidden;
    background-color: #f3fbfe;
    box-shadow: 0 0 3px 3px #cccccc;
    animation-name: skyset;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background-size: 100% 200px ;
}
@keyframes skyset{
    0% {opacity: 0}
    50%{ opacity: .5}
    100% {opacity: 1}
}


.bodybox h2{
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.bodybox li{ font-size:16px; }
.bodybox p{ font-size:16px; }
.bodybox h1{font-size:16px; }

.bodybox{font-size: 16px}



.bodybox h5{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-indent: 16px;
}
.bodybox ul{
    padding-left: 16px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.bodybox ul li{
    margin-bottom: 40px;
}
.bodybox ul li dd{
    height: 55px;
    line-height: 55px;
    text-indent: 22px;

}
 ul li dt{
     width: 70%;
     margin-left: 60px;

     color: #666666;
     font-size: 14px;
}
li dt img{
    margin-top: 20px;
    border:1px solid #ccc;
}
.bodybox a{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #cccccc;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    margin-left: 80px;
}





